/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Layout */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Header */
.header {
  background-color: #002f5d;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.header .logo {
  height: 80px;

}
.header .nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.header .nav a:hover {
  color: #ffd700;
}

/* Intro */
.intro {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}
.intro h1 {
  font-size: 2.5rem;
  color: #002f5d;
}
.intro .tagline {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}
.main-content {
  padding-bottom: 100px;
}

/* Services */
.services {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #ffffff;
  text-align: center;
}
.service-item {
  width: 30%;
}
.service-item i {
  font-size: 4rem;
  color: #002f5d;
}
.service-item h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 15px 0;
}
.service-item p {
  color: #666;
}

strong {
  color: #002f5d;
}

/* Call to Action */
.cta {
  color: #fff;
  font-weight: bold;
  display: block;
  position: fixed;
  right: 0;
  bottom: 50px;
  background-color: #002f5d;
  text-align: center;
  padding: 30px 5px 30px 40px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  transition: all .5s ease-in-out;
}
.cta-button {
  display: block;
  margin: 5px;
  color: #fff;
  padding: 10px 20px;
  background-color: #ffd700;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #ffa500;
}
.arrow {
  position: absolute;
  bottom: 95px;
  right: 145px;
}
.arrow:hover {
  color: #ffd700;
}
#openCTA {
  display: none;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer .footer-nav a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer .footer-nav a:hover {
  color: #ffd700;
}

/* Responsive Design */
@media (max-width: 768px) {
  .services {
    flex-direction: column;
  }
  .service-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
